<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkRoomW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkRoomW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
		<supportedRuntime version="v4.0" />
	</startup>
    <userSettings>
        <DarkRoomW.Properties.Settings>
            <setting name="PageColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
            <setting name="PageWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagePadding" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Content" serializeAs="String">
                <value />
            </setting>
            <setting name="HideNavigation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenWithContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultipleMonitors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataRecoveryMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalCacheFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabToSpaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoIndent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaretBlinkRate" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="NeutralHighlight" serializeAs="String">
                <value>True</value>
            </setting>
        </DarkRoomW.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DarkRoomW.Properties.Settings>
            <setting name="DarkRoomURL" serializeAs="String">
                <value>http://they.misled.us/dark-room/</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>http://jjafuller.com/apps/dark_room/version.xml</value>
            </setting>
        </DarkRoomW.Properties.Settings>
    </applicationSettings>
</configuration>